* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 100px 100px 100px 100px;
}


header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  height: 100px;
  background-image: linear-gradient(to right, #D17638, #CE5629, #741F24);
  border-radius: 0px 0px 20px 0px;
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links > li > a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  /* z-index: 99; */
}

.nav-links > li > a:hover {
  color: coral;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

/* PRIMEIRA SEÇÃO */
#inicio {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.frase {
  text-align: center;
  margin-top: 50px;
}

.cortes {
  background-image: linear-gradient(to right, #D17638, #CE5629, #741F24);;
  display: flex;
  padding: 20px;
  border-radius: 30px;
  width: 60%;
  margin-top: 30px;
}

/* SEGUNDA SEÇÃO */

.galeria h1 {
  font-size: 3em;
}

.galeria {
  margin-left: 70px;
  margin-top: 70px;
}

.fts  {
  border-radius: 20px;
  border: 2px solid transparent;
  background: linear-gradient(#141414, #141414) padding-box, linear-gradient(45deg, #D17638, #CE5629, #741F24) border-box;
  height: 100px;
}