* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 100px 100px 100px 100px;
}

header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  height: 100px;
  background-image: linear-gradient(to right, #D17638, #CE5629, #741F24);
  border-radius: 0px 0px 20px 0px;
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links > li > a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links > li > a:hover {
  color: coral;
}

.logo {
  display: flex;
  align-items: center;
  width: 30%;
  height: 100%;
}

.logo > img {
  width: 40px;
}

.p_logo {
  font-size: 1.5em;
  font-weight: bold;
}

/* PRIMEIRA SEÇÃO */
#inicio {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 70px;
  margin-top: 50px;
}

.frase {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}

.cortes {
  background-image: linear-gradient(to right, #D17638, #CE5629, #741F24);;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  border-radius: 30px;
  width: 60%;
  height: 200px;
  position: relative;
}

.div_infos {
  width: 67%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 1.4em;
}

.div_img {
  right: 20px;
  bottom: -4px;
  position: absolute;
}

.div_img > img {
  height: 300px;
}

/* SEGUNDA SEÇÃO */

h1 {
  font-size: 2.5em;
  text-transform: uppercase;
}

#segunda {
  padding: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}

#segunda > h1 {margin-left: 90px;}

.item {
  border-radius: 20px;
  border: 2px solid transparent;
  background: linear-gradient(#141414, #141414) padding-box, linear-gradient(45deg, #D17638, #CE5629, #741F24) border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 300px;
  min-height: 425px;
  padding: 30px;
  line-height: 1.4em;
  text-align: justify;
}

.hair {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  height: 100%;
  flex-wrap: wrap;
}

.item img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.infor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.conteudo {display: none;}

.aberto {display: block;}

.botao {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.icone {
  transition: transform 0.3s;
  color: white;
}

.rotated {transform: rotate(180deg);}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 60px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  padding: 50px 100px 40px 100px;
}


#footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

#footer > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  text-align: justify;
  line-height: 1.4em;
}

.logo_footer {width: 35%;}
