* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 100px 100px 100px 100px;
}

header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  height: 100px;
  background-image: linear-gradient(to right, #D17638, #CE5629, #741F24);
  border-radius: 0px 0px 20px 0px;
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links > li > a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links > li > a:hover {
  color: coral;
}

.logo {
  display: flex;
  align-items: center;
  width: 30%;
  height: 100%;
}

.logo > img {
  width: 40px;
}

.p_logo {
  font-size: 1.5em;
  font-weight: bold;
}

/* PRIMEIRA SEÇÃO */
#inicio {
  display: flex;
  padding: 70px 100px;
  justify-content: center;
  gap: 50px;
}

.frase {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
}

.frase > img {
  width: 100%;
  border-radius: 20px;
}

#section_crono > h1 {
  margin: 30px auto 30px 100px;
}

.crono {
  display: flex;
  padding: 20px 50px 0px 50px;
  width: 100%;
  background-image: linear-gradient(to right, #D17638, #CE5629, #741F24);
  justify-content: space-between;
  align-items: center;
}

.img_inicio {
  width: 50%;
}

.img_inicio > img {
  width: 100%;
  border-radius: 20px;

}

.segunda {
  align-items: flex-end;
}

.infor {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 30px;
  width: 40%;
}

.conteudo {
  padding: 20px;
  border: 1px solid white;
  border-radius: 20px;
  line-height: 1.4em;
  width: 90%;
  font-size: 0.9em;
}

.iza {
  width: 30%;
}

.iza > img {
  width: 350px;
}

.especial {
  width: 100%;
}

/* TERCEIRA SEÇÃO */

.porosidade {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.cont_porosidade{
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: justify;
  width: 87%;
}

.img_porosidade {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 87%;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 60px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  padding: 50px 100px 40px 100px;
}

.div_logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
}

.div_logo > img {
  width: 40px;
} 

#footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

#footer > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  text-align: justify;
  line-height: 1.4em;
}

.logo_footer {width: 35%;}
