* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 100px 100px 100px 100px;
}

header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  height: 100px;
  background-image: linear-gradient(to right, #D17638, #CE5629, #741F24);
  border-radius: 0px 0px 20px 0px;
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links > li > a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  /* z-index: 99; */
}

.nav-links > li > a:hover {
  color: coral;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

/* PRIMEIRA SEÇÃO */
#inicio {
  display: flex;
  width: 100%;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  gap: 70px;
  margin-top: 50px;
  margin-left: 50px;
}

.frase {
  text-align: left;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}

.frase h2 {
    margin-top: 50px;
}


.crono{
  background-image: linear-gradient(to right, #D17638, #CE5629, #741F24);;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  border-radius: 30px;
  width: 60%;
  height: 400px;
  position: relative;
  margin-top: 80px;
}

.crono img {
  right: 20px;
  bottom: -1px;
  position: absolute;
  height: 200%;
  margin-top: 60px;
}


