* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}

.fundo {
  background-image: linear-gradient(to right, #D17638, #CE5629, #741F24);
  height: 80vh;
  border-radius: 0px 0px 40px 40px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  height: 100px;
  font-family: Helvetica, Arial, sans-serif;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Merriweather", serif;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;

}

.nav-links a:hover {
  color: coral;
}