* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  font-family: "Merriweather", serif;
}

.fundo {
  background-image: linear-gradient(to right, #D17638, #CE5629, #741F24);
  height: 15vh;
  border-bottom-right-radius: 40px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  height: 100px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Merriweather", serif;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;

}

.nav-links a:hover {
  color: coral;
}

/* PRIMEIRA SEÇÃO */

#Fraseorig {
  padding: 50px 100px;
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}

.frase  h1 {
  padding-top: 100px;
  margin-left: 140px;
  gap: 20px;
  font-size: 50px;
  margin-top: 100px;
}

.frase p {
  padding-top: 50px;
  margin-left: 140px;
  gap: 20px;
}




.infos_sobre {
  display: flex;
  flex-flow: column;
  width: 40%;
  gap: 15px;
  line-height: 1.4em;
  justify-content: center;
}

.produto1 {
  width: 550px;
  margin-left: 700px;
  margin-top: -400px;
}