body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    .navbar {
      position: relative;
      top: -30px;
      background-color: orangered;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 20px 170px;
      color: white;
      border-radius: 25px;

    }

    .logo {
      font-size: 1.5em;
      font-weight: bold;
    }

    .nav-links {
      list-style: none;
      display: flex;
      gap: 20px;
    padding-
    }

    .nav-links a {
      color: white;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s;
    }

    .nav-links a:hover {
      color: coral;
    }

   