* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}

.fundo {
  background-image: linear-gradient(to right, #D17638, #CE5629, #741F24);
  height: 80vh;
  border-radius: 0px 0px 40px 40px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  height: 100px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;

}

.nav-links a:hover {
  color: coral;
}

/* PRIMEIRA SEÇÃO */

#home {
  display: flex;
  align-items: center;
  height: calc(100% - 100px);
  padding: 0px 100px;
  width: 100%;
}

.item_home {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  height: 100%;
  /* border: 1px solid white; */
}

.item_home > p {
  line-height: 1.3em;
}

.prim {
  width: 35%;
  padding: 40px 0px;
}

.terc {
  width: 30%;
}

.img_home {
  width: 40%;
  height: 100%;
  display: flex;
}

.img_home > img {
  width: auto;

}

#cima  {
  display: flex;
  padding: 0px 100px;
  justify-content: space-between;
  margin-top: 50px;
}

.img2 {
  float: right;
}

.div {
  display: flex;
  flex-flow: column nowrap;

}

#img {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
}

#img img {
  float: right;
  margin-left: 10px;
  border-radius: 15px;
}

#img2 {
  width: 120px;
  height: auto;
 }

#img3 {
  width: 150px;
  height: auto;
}

 #img4 {
  width: 180px;
  height: auto;
 
}

 #img5 {
  width: 160px;
  height: auto;
  
}

/* SEGUNDA SEÇÃO */


